
.sec-posts{
    width: 60vw;
    height: 90vh;
    margin: 0 auto;
}

.card-container{
    width: 95%;
    margin: 25px auto 25px;
    padding: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}

.card-body .card-title{
    font-weight: bold;
    font-size: 30px;
    color: #212529;
}

.card-body .card-subtitle{
    display: inline;
    font-size: 12px;
    margin-bottom: 50px;
}

.card-body .card-subtitle .text-aut{
    margin-right: 3px;
}

.card-body .card-text{
    margin-top: 10px;
}