
.sec-posts{
    width: 60vw;
    margin: 0 auto;
}

.card-container{
    width: 90%;
    margin: 25px auto 0;
    padding: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 15px;
}


.card-body > h4{
    font-weight: bold;
    margin: 11px 0;
    font-size: 30px;
}

.card-body .card-subtitle{
    display: inline;
    margin-right: 3px;
    font-size: 12px;
}