*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.navbar .container-fluid > span{
    font-weight: bold;
}

.sec-posts{
    width: 60vw;
    margin: 0 auto;
    /*background: red;*/
}

.card-container{
    width: 90%;
    /*background: green;*/
    margin: 50px auto 0;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bdc{
    margin-top: 20px;
}

.card-body > h4{
    font-weight: bold;
}